<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Welcome</title>
</head>
<body>

   
    <div class="studentRegForm">
            <form action="{{ url_for('index') }}" method="POST">
                <table> 
                    <tr>
                        <td class="headings">Name:</td>
                        <td><input type="text" id="firstName" name="name" requireds></td>
                    </tr>

                    <tr>
                        <td class="headings">Surname:</td>
                        <td><input type="text" id="surname" name="surname" required></td>
                    </tr>

                    <tr>
                        <td class="headings">DOB:</td>
                        <td><input type="date" id="dob" name="dob" required></td>
                    </tr>

                    <tr>
                        <td class="headings">College Name:</td>
                        <td><input type="text" name="collegename" id="collegeName" required></td>
                    </tr>

                    <tr>
                        <td class="headings">Year</td>
                        <td><select name="year" id="year" required>
                            <option value="1">I</option>
                            <option value="2">II</option>
                            <option value="3">III</option>
                            <option value="4">IV</option>
                            </select>
                            </td>
                    </tr>

                    <tr>
                        <td class="headings">Branch:</td>
                        <td><select name="branch" id="branch" required>
                            <option value="CSE">CSE</option>
                            <option value="IT">IT</option>
                            <option value="ECE">ECE</option>
                            <option value="MECH">MECH</option>
                            <option value="CIVIL">CIVIL</option>
                            <option value="EEE">EEE</option>
                            <option value="EIE">EIE</option>
                            <option value="Production">Production</option>
                            <option value="Metallurgy">Metallurgy</option>
                            <option value="Chemical">Chemical</option>
                            <option value="Others">Others</option>
                          </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="headings">Roll No:</td>
                        <td><input type="text" name="rollno" id="rollno" required></td>
                    </tr>
                    

                </table>
                <div style="text-align: center;">
                    <button type="submit">Submit</button>
                </div>
                
            </form>

    </div>
   
    <div style="text-align:center;">
       <a href="{{ url_for('getdata') }}" > <button class="getdatabtn">Get Student's Data</button></a>
    </div>


  <div class="statusbox">
                                {{message}}
</div>
   
</body>
</html>