<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div class="studentRegForm">
            <form>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" id="firstName" ></td>
                    </tr>

                    <tr>
                        <td>Surname:</td>
                        <td><input type="text" id="surname" ></td>
                    </tr>

                    <tr>
                        <td>DOB:</td>
                        <td><input type="date" id="dob" ></td>
                    </tr>

                    <tr>
                        <td>College Name:</td>
                        <td><input type="text" id="collegeName" ></td>
                    </tr>

                    <tr>
                        <td>Branch:</td>
                        <td><select name="branch" id="branch" >
                            <option value="CSE">CSE</option>
                            <option value="IT">IT</option>
                            <option value="ECE">ECE</option>
                            <option value="MECH">MECH</option>
                            <option value="CIVIL">CIVIL</option>
                            <option value="EEE">EEE</option>
                            <option value="EIE">EIE</option>
                            <option value="Production">Production</option>
                            <option value="Metallurgy">Metallurgy</option>
                            <option value="Chemical">Chemical</option>
                            <option value="Others">Others</option>
                          </select>
                        </td>
                    </tr>

                </table>
                <button type="submit">Sumbit</button>
            </form>

    </div>
   

    <div>
        Show Students List
    </div>
</body>
</html>